@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* font-family: "Libre Baskerville", serif; */
  font-family: "PP Editorial Old";
  z-index: 100;
}
.letter {
  display: inline-block;
  line-height: 1em;
}
.arrow {
  width: 60px;
  height: 80px;
  margin: 0 1em;
  transform: rotate(90deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow.active {
  transform: rotate(-90deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  transition: all 0.2s;
}

.project:last-of-type {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-10px);
}

.project:hover p {
  transform: translateX(10px);
}

.project h2 {
  font-size: 60px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}
@media screen and (max-width: 900px) {
  .project {
    padding: 50px 20px 50px 20px;
  }
  .project h2 {
    font-size: 7vw;
  }
}
.project p {
  transition: all 0.4s;
  font-weight: 300;
}
.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455ce9;
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.races {
  display: flex;
  flex-wrap: nowrap;
}

.races h2 {
  font-size: 15vw;
  flex-shrink: 0;
  padding-right: 0.3em;
  padding-left: 0.3em;
  color: #000000;
  width: fit-content;
  height: fit-content;
}

.races h2:nth-child(odd) {
  background: #000000;
  color: white;
}

.space-20vh {
  overflow: hidden;
}

.space-30vh {
  height: 30vh;
  overflow: hidden;
}

.space-50vh {
  height: 50vh;
  overflow: hidden;
}

.space-100vh {
  height: 50vh;
}
